/* move css to SCSS */

/*noinspection SpellCheckingInspection*/
.nldm-handler{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 310px;
    z-index: 10000;
    transition: transform .3s;
    transform: translate(-300px, 0) translateZ(0);
}

/*noinspection SpellCheckingInspection*/
.nldm-drawer{
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
}

/*noinspection SpellCheckingInspection*/
.nldm-overall{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.63);
    z-index: 9999;
    transition: opacity .3s;
}

/*noinspection SpellCheckingInspection*/
.nldm-pane.anim-off .nldm-overall{
    transition: opacity 0s;
}

/*noinspection SpellCheckingInspection*/
.nldm-pane.anim-off .nldm-handler{
    transition: transform 0s;
}