<div class="nldm-pane" [class.inmotion]="(_active$ | async) || (_cloak$ | async)">

    <div class="nldm-handler"
         (panstart)="_handler$.next({type:'start',ev:$event})"
         (panleft)="_handler$.next({type:'move',ev:$event})"
         (panright)="_handler$.next({type:'move',ev:$event})"
         (panend)="_handler$.next({type:'end',ev:$event})"
         [style.transform]="styleSanitize(_position$ | async)"></div>

    <div class="nldm-drawer"
         (panstart)="_drawer$.next({type:'start',ev:$event})"
         (panleft)="_drawer$.next({type:'move',ev:$event})"
         (panright)="_drawer$.next({type:'move',ev:$event})"
         (panend)="_drawer$.next({type:'end',ev:$event})"
         [style.transform]="styleSanitize((_position$ | async) - (_width$ | async))"
         [style.width]="(_width$ | async) + 'px'">
        <ng-content></ng-content>
    </div>

    <div class="nldm-overall"
         (click)="__drawerService.close()"
         [@overall]="'in'"
         [style.opacity]="getOpacity((_position$ | async) / (_width$ | async))"
         *ngIf="(_position$ | async) > 0"></div>
</div>