<!--suppress ALL -->
<div class="nldm-pane" [class.anim-off]="(_onTouch$ | async) || (_cloak$ | async)">

    <div class="nldm-handler"
         (panstart)="getMove($event)"
         (panleft)="getMove($event)"
         (panright)="getMove($event)"
         (panend)="getMove($event)"
         [style.width]="((_width$ | async) + 10 ) + 'px'"
         [style.transform]="styleSanitize((_position$ | async) - (_width$ | async))">
        <div class="nldm-drawer"
             [style.width]="(_width$ | async) + 'px'">
            <ng-content></ng-content>
        </div>
    </div>

    <div class="nldm-overall"
         (click)="overallClose()"
         [@overall]="'in'"
         [style.opacity]="getOpacity((_position$ | async) / (_width$ | async))"
         *ngIf="(_position$ | async) > 0"></div>
</div>